.kinetic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    /* Make page scrollable to demonstrate effect */
    width: 100%;
    overflow: hidden;
    perspective: 1000px;
    background: white;
}

.kinetic-wrapper {
    position: fixed;
    /* Keep it fixed so we scroll "through" it */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(20deg) rotateY(-20deg) rotateZ(10deg) scale(var(--scroll-scale));
    font-size: 10vw;
    font-weight: 700;
    line-height: 0.8;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transition: transform 0.1s linear;
    /* Smooth update */
    will-change: transform;
}

.kinetic-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    color: transparent;
    -webkit-text-stroke: 1px black;
    /* Distribute layers along Z axis */
    transform: translateZ(calc(var(--i) * -15px));
    pointer-events: none;
}

/* Make the first layer filled for legibility */
.kinetic-layer:first-child {
    /* color: black; */
}

/* Center alignment fix for absolute positioned layers */
.kinetic-layer {
    display: flex;
    justify-content: center;
    align-items: center;
}